.footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: var(--color-primary);
}
.contacto{
    flex-direction: row;
    flex: 25%;

}
.redes{
    flex: 25%;

}