
footer{
    display: flex;
    flex-wrap: wrap;
    
    background-color: #5b1d34;
}
.contacto{
    width: 25%;
    height: 200px;
    background-color: #5b1d34;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.contacto img{
    width: 100%;
    height: auto;


}

.redes{
    width: 25%;
    height: 200px;
    background-color: #5b1d34;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}
.redes a{
    text-align: center;
    font-size: 40px;
    padding: 5px;
    
}

.sobreNosotros{
    width: 25%;
    height: 200px;
    background-color: #5b1d34;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;

}
.sobreNosotros a{

    font-size: 20px;
    text-decoration: none;
    
}
a:hover{
    background-color: var(--color-secondary);
}
.perrito{
    width: 25%;
    height: 200px;
    background-color: #5b1d34;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.perrito a{
    font-size: 100px;
} 

