.footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: var(--color-primary);
    gap: 20px;
}
.redes{
    display: flex; 
    flex-direction: row; 
    font-size: 30px;
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex: 33%;
}
.sobreNosotros{
    display: flex; 
    flex-direction: column; 
    font-size: 18px;
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex: 33%;
}

.perrito{
    display: flex; 
    flex-direction: row; 
    font-size: 30px;
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex: 33%;
}

@media (max-width: 1024px) {
    .footer-container {
        flex-direction: column;
        height: auto;
    }
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        height: auto;
    }
    
}