.noticias{
    background-color: black;
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;

}
.noticias p{
    position: relative;
    display: inline-block;
    text-align: justify;
    height: auto;
    animation: texto-noticias 20s linear 1s infinite alternate ;
    white-space: nowrap;
}

@keyframes texto-noticias{
    from {
    transform: translateX(100%);

}
    
    to { transform:translateX(-100%);
    }
}

header{
    text-align: center;
    padding: 60px;
    background-image: url("../img/bannerheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header img {
    width: 500px;
}
header div{
    background-color: rgba(242, 128, 191, 0.2);
    padding: 10px;
    border-radius: 25px;
    color: white;
    font-size: 20px;
}